<h1>Редактировать билет</h1>

<%= form_with(model: @ticket, url: ticket_path(@ticket), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <%= form.submit 'Сохранить' %>
<% end %>