<h1>New ticket</h1>


<br>
<%= form_with(model: @ticket, url: tickets_path) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>
  
    <%= form.submit 'Сохранить' %>
    <% end %>
<div>
  <%= link_to "Back to tickets", tickets_path %>
</div>
